body {
    background-color: #424769;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.app_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
}

.search {
    flex: 1;
}

.playlist {
    flex: 1;
}